.user__card {
    background-color: snow;
    /*border: 1px solid black;*/
    box-shadow: 10px 10px 10px #2f2f2f;
    padding: 30px;
    margin: 20px;
    display: flex;
    /*justify-content: center;*/
    /*align-content: center;*/
    width: 75%;
    
}

.user__name {
    padding: 10px;
    width: 30%;
    font-family: Calibri;
    font-weight: bold;
    font-size: large;
    border-right: 2px solid #2f2f2f;
}
.user__albums {
    text-align: center;
}

.album {
    display: inline-block;
    margin: 20px;
}

.user__albums__title {

}

.album__poster:hover {
    outline: 2px solid #2f2f2f;
    /*opacity: 1;*/
    /*border-radius: 0px;*/
}


.album__poster {
    /*opacity: 0.4;*/
    /*outline: 2px solid #2f2f2f;*/
    /*border-radius: 100px;*/
}

.album__title {
    display: flex;
    width: 150px;
    font-family: Calibri;
}

.album__count {
    display: block;
    font-family: Calibri;
    padding: 10px;
    font-size: 26px;
    background-color: #d2d2d2;
    /*opacity: 0.7;*/
    color: #2f2f2f;
    /*position: relative;*/
    /*left: -46px;*/
    /*top: -17px;*/
    /*text-align: right;*/
}
