.user__card {
    background-color: snow;
    box-shadow: 10px 10px 10px #2f2f2f;
    padding: 30px;
    margin: 20px;
    display: flex;
    width: 75%;
}

.user__name {
    padding: 10px;
    width: 30%;
    font-family: Calibri;
    font-weight: bold;
    font-size: large;
    border-right: 2px solid #2f2f2f;
}

.user__albums {
    text-align: center;
}

.album {
    display: inline-block;
    margin: 20px;
}

.album__poster:hover {
    outline: 2px solid #2f2f2f;
}

.album__title {
    display: flex;
    width: 150px;
    font-family: Calibri;
}

.album__count {
    display: block;
    font-family: Calibri;
    padding: 10px;
    font-size: 26px;
    background-color: #d2d2d2;
    color: #2f2f2f;
}

.pic__photo.active {
    outline: 1px solid black;
}

.pic__prev {
    float: left;
}

.pic__next {
    float: right;
}

.pic__next,
.pic__prev {
    margin-top: 30%;
    width: 100px;
}

.pic__main > div > button {
    width: 60px;
    height: 60px;
}

.pic__main {
    align-items: center;
    justify-content: center;
    vertical-align: center;
}

.modal__overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    padding: 20px;
    background-color: #d2d2d2;
    max-width: 80vw;
}

.pic__photo {
    display: inline-block;
    position: relative;
    width: 30px;
    padding: 5px;
}

.pic__preview {
    margin-top: 30px;
    max-width: 30vw;
}

.pic__block {
    display: inline-block;
}

.pic__main > img {
    width: 400px;
}
