.modal__overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    padding: 20px;
    background-color: #d2d2d2;
    max-width: 80vw;
}

.pic__photo {
    display: inline-block;
    position: relative;
    width: 30px;
    /*display: inline-block;*/
}

.pic__preview {
    margin-top: 30px;
    max-width: 30vw;
}
.pic__block {
    display: inline-block;
}